---
layout: page
title: Perceivable
description:
---
<div class="row">
    {% for example in site.examples %}
    {% if example.accessible == false %}
    <div class="col-lg-4">
        <svg height="140" width="140">
            <circle cx="70" cy="70" r="68" stroke="grey" stroke-width="3" fill="grey" />
            <text x="40" y="75" fill="white" style="font-size: 2em;">{{ example.relatesto }}</text>
        </svg>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
        <h2>{{ example.title }}</h2>
        <p>Input elements require label tags. As per WCAG 2.0 1.1.1: "If non-text content is a control or accepts user input, then it has a name that describes its purpose."</p>
        <p><a class="btn btn-default" href="{{ example.url | prepend: site.baseurl }}" role="button">Inaccessible Example &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    {% endif %}
    {% endfor %}

    <div class="col-lg-4">
        <svg height="140" width="140">
            <circle cx="70" cy="70" r="68" stroke="grey" stroke-width="3" fill="grey" />
            <text x="40" y="75" fill="white" style="font-size: 2em;">1.1.1</text>
        </svg>
        <h2>Using <code>alt</code> attributes on <code>img</code> elements.</h2>
        <p>When using the img element, specify a short text alternative with the alt attribute. Note. The value of this attribute is referred to as "alt text".<br><br>
            When an image contains words that are important to understanding the content, the alt text should include those words. This will allow the alt text to play the same function on the page as the image. Note that it does not necessarily describe the visual characteristics of the image itself but must convey the same meaning as the image.
            <br><br><a href="http://www.w3.org/TR/2014/NOTE-WCAG20-TECHS-20140916/H37">See the WCAG success criterion for more information.</a>
        </p>
        <p><a class="btn btn-default" href="#" role="button">View page &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg height="140" width="140">
            <circle cx="70" cy="70" r="68" stroke="grey" stroke-width="3" fill="grey" />
            <text x="40" y="75" fill="white" style="font-size: 2em;">1.2.2</text>
        </svg>
        <h2>Captions</h2>
        <p>Captions are provided for all prerecorded audio content in synchronized media, except when the media is a media alternative for text and is clearly labeled as such.
            <br><br>While, as developers, we cannot ensure captions exist, we can do 2 things.
        <ol>
            <li>Say something if you find yourself working on non-captioned material.</li>
            <li>Make sure you know how to add captions.</li>
        </ol>
        </p>
        <p><a class="btn btn-default" href="#" role="button">View page &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
