---
layout: default
---
{% if page.explanation %}
<div class="row">
    <div class="well">
        {{ page.explanation | markdownify }}
    </div>
</div>
{% endif %}

<div class="example">

    <header class="example-header">
        <h1 class="example-title">{{ example.title }}</h1>
        <p class="example-meta">{{ example.description }}</p>
    </header>

    <article class="example-content">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#display" id="display-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Display</a></li>
                <li role="presentation" class=""><a href="#code" role="tab" id="code-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Code</a></li>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="display" aria-labelledby="display-tab">
                    {{ content }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="code" aria-labelledby="code-tab">
                </div>
            </div>
        </div>

    </article>


    <div style="width: 100%">
        <div class="" align="center">
            <button class="btn btn-default" type="button" id="switch_button">switch</button>
        </div>
    </div>
    <script>
        // CodeMirror
        var code = document.getElementById('code');
        var cm = CodeMirror(code, {
            lineNumbers: true,
            value: $('#display').html(),
            mode: "htmlmixed"
        });

        //$('#code').on('keyup', function(){
        //    $('#display').html(cm.doc.getValue());
        //});
        $('#display-tab').click(function(){
            $('#display').html(cm.doc.getValue());
        });
        $('#code-tab').on('shown.bs.tab',
        function() {
            cm.refresh();
        });
        ////////////////

        $('#switch_button').on('click', function(){
            path = location.pathname.substring(0, location.pathname.lastIndexOf("/") + 1);
            filename = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
            if(filename.search('_fixed.html') == -1) {
                new_filename = filename.replace('.html', '_fixed.html');
            } else {
                new_filename = filename.replace('_fixed.html', '.html');
            }
            window.location.href = path + new_filename;
        });
    </script>

</div>
